---
import { getAbsoluteLocaleUrl } from 'astro:i18n'

import Layout from '~/layouts/Layout.astro'
import AppForm from '~/components/AppForm.svelte'

import { defaultLocale } from '~/i18n'
const _url = (path?: string) => getAbsoluteLocaleUrl(Astro.currentLocale ?? defaultLocale, path)
---

<Layout
	bodyClass="bg-gray-100"
>

	<div class="flex justify-center items-center h-screen">
		<div class="bg-white shadow-lg rounded-lg p-6 min-w-[800px]">
			<h1 class="text-4xl font-bold mb-4">Env Converter</h1>
			<p class="text-gray-600 mb-4">
				Online conversion tool for env files.
			</p>

			<AppForm class="home text-black group-hover:text-gray" client:load />
		</div>
	</div>

</Layout>
